<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        
</head>
<body>
    <form action="stustaff" method="post">
    <h1>Search for Staff</h1>
        <form action="/searchstaff" method="post">
        <label for="floor">Floor:</label>
        <input type="text" id="floor" name="floor">
        <br>
        <button type="submit">Search</button>
    </form>

    <h2 id="messs">
    {{messs}}
</h2>
<div id="st">
    {{{st}}}
</div>

     {{#if staff}}
    <h3>Name: {{staff.name}}</h3>
    <h3>Floor: {{staff.floor}}</h3>
    <h3>Phone No: {{staff.phno}}</h3>
{{/if}}




</body>
</html>